{{ define "mucss/nav_layout" -}}
<!doctype html>
<html lang="{{ lang }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }}</title>
    {{ template "mucss/css" . }}
    {{ template "mucss/theme_script" . }}
    {{ template "htmx/js" . }}
    {{ template "htmx/config" . }}
</head>
<body {{- csrfHxHeaders }}>
    {{ template "mucss/navbar" . }}
    <main class="container">
        {{ template "mucss/alerts" . }}
        {{ .Content }}
    </main>
    <dialog id="modal"><div id="modal-body"></div></dialog>
    {{ template "htmx/dialog_script" . }}
</body>
</html>
{{- end }}

{{ define "mucss/navbar" }}{{ end }}
{{ define "mucss/alerts" }}{{ end }}
