{{ define "pages/home" -}}
<section class="hero">
    <hgroup>
        <h1>{{ t "home-title" }}</h1>
        <p>{{ t "home-subtitle" }}</p>
    </hgroup>
</section>
<div class="grid">
    <article>
        <header>{{ iconKey }} <strong>{{ t "home-card-passkey-title" }}</strong></header>
        {{ t "home-card-passkey-text" }}
    </article>
    <article>
        <header>{{ iconPuzzle }} <strong>{{ t "home-card-contrib-title" }}</strong></header>
        {{ t "home-card-contrib-text" }}
    </article>
    <article>
        <header>{{ iconLightning }} <strong>{{ t "home-card-htmx-title" }}</strong></header>
        {{ t "home-card-htmx-text" }}
    </article>
</div>
{{- end }}
