{{ define "pages/home" -}}
<div class="text-bg-primary">
    <div class="container py-7">
        <h1 class="display-5 fw-bold">{{ t "home-title" }}</h1>
        <p class="lead">{{ t "home-subtitle" }}</p>
    </div>
</div>
<div class="container py-4">
    <div class="row g-4">
        <div class="col-md-4">
            <div class="card h-100 shadow">
                <div class="card-body">
                    <h5 class="card-title"><span class="me-2">{{ iconKey }}</span>{{ t "home-card-passkey-title" }}</h5>
                    <p class="card-text">{{ t "home-card-passkey-text" }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card h-100 shadow">
                <div class="card-body">
                    <h5 class="card-title"><span class="me-2">{{ iconPuzzle }}</span>{{ t "home-card-contrib-title" }}</h5>
                    <p class="card-text">{{ t "home-card-contrib-text" }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card h-100 shadow">
                <div class="card-body">
                    <h5 class="card-title"><span class="me-2">{{ iconLightning }}</span>{{ t "home-card-htmx-title" }}</h5>
                    <p class="card-text">{{ t "home-card-htmx-text" }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{{- end }}
