{{ define "error/default" }}
<!doctype html>
<html lang="{{ lang }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }}</title>
    {{ template "pico/css" . }}
    {{ template "pico/theme_script" . }}
</head>
<body>
    <main class="container" style="display:flex;align-items:center;justify-content:center;min-height:100vh">
        <hgroup style="text-align:center">
            <h1>{{ .Code }}</h1>
            <p>{{ .Message }}</p>
        </hgroup>
    </main>
</body>
</html>
{{ end }}
