{{ define "pico/nav_layout" -}}
<!doctype html>
<html lang="{{ lang }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }}</title>
    {{ template "pico/css" . }}
    {{ template "pico/theme_script" . }}
    {{ template "htmx/js" . }}
    {{ template "htmx/config" . }}
</head>
<body {{- csrfHxHeaders }}>
    {{ template "pico/navbar" . }}
    <main class="container">
        {{ template "pico/alerts" . }}
        {{ .Content }}
    </main>
</body>
</html>
{{- end }}

{{ define "pico/navbar" }}{{ end }}
{{ define "pico/alerts" }}{{ end }}
