{{ define "admin/index" -}}
<header>
    <h2>{{ t "admin-dashboard-title" }}</h2>
</header>
{{- $dashboard := adminDashboard }}
{{ if $dashboard -}}
    {{- range $dashboard }}
    <h5>{{ .Label }}</h5>
    <div class="row">
        {{- range .Items }}
        <a href="{{ .URL }}" class="col-12 col-sm-6 col-md-4 admin-dashboard-link">
            <article>
                {{- if .Icon }}{{ .Icon }} {{ end -}}
                <strong>{{ .Label }}</strong>
            </article>
        </a>
        {{- end }}
    </div>
    {{- end }}
{{- else }}
    <p>{{ t "admin-dashboard-empty" }}</p>
{{- end }}
{{- end }}
