{{ define "admin/layout" -}}
<!doctype html>
<html lang="{{ lang }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }} – {{ t "admin-sidebar-title" }}</title>
    {{ template "mucss/css" . }}
    <link rel="stylesheet" href="{{ staticURL "admin/admin.css" }}">
    {{ template "mucss/theme_script" . }}
    {{ template "htmx/js" . }}
    {{ template "htmx/config" . }}
</head>
<body hx-boost="true" hx-target="#main" {{- csrfHxHeaders }}>
    <nav class="container-fluid">
        <ul>
            <li><strong>{{ t "admin-sidebar-title" }}</strong></li>
        </ul>
        <ul>
            <li>{{ template "mucss/theme_switcher" . }}</li>
            {{ with currentUser }}
            <li>
                <details class="dropdown">
                    <summary>{{ iconPersonCircle }} {{ .Username }}</summary>
                    <ul dir="rtl">
                        <li dir="ltr"><a href="#" id="admin-logout-link">{{ t "admin-logout" }}</a></li>
                    </ul>
                </details>
                <form method="post" action="/auth/logout" id="admin-logout-form" hx-boost="false" hidden>
                    <input type="hidden" name="gorilla.csrf.Token" value="{{ csrfToken }}">
                </form>
                <script>
                    document.getElementById("admin-logout-link").addEventListener("click", function(e) {
                        e.preventDefault();
                        document.getElementById("admin-logout-form").submit();
                    });
                </script>
            </li>
            {{ end }}
        </ul>
    </nav>
    <main id="main" class="container">
        {{ range messages -}}
        <div class="alert alert-primary" role="alert">
            <span class="alert-title">{{ t (printf "admin-alert-%s" .Level) }}</span>
            <p>{{ .Text }}</p>
        </div>
        {{- end }}
        {{ .Content }}
    </main>
</body>
</html>
{{- end }}
